//Fonts import

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova_regular-webfont.woff2') format('woff2'),
         url('/fonts/proximanova_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova_bold-webfont.woff2') format('woff2'),
         url('/fonts/proximanova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova_light-webfont.woff2') format('woff2'),
         url('/fonts/proximanova_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@import "./variables.scss";
@import "./mixins.scss";
@import "./helpers/visually-hidden";
@import "./helpers/container";
@import "./blocks/page";
@import "./blocks/page-header";
@import "./blocks/button";
@import "./blocks/nav";
@import "./blocks/about";
@import "./blocks/benefits";
@import "./blocks/page-main";
@import "./blocks/galery";
@import "./blocks/packs";
@import "./blocks/video";
@import "./blocks/tracks";
@import "./blocks/contacts";
@import "./blocks/page-footer";
@import "./blocks/dots";
@import "./blocks/slick-slider";
@import "./blocks/benefits-slider";
@import "./blocks/card";
@import "./blocks/site-list";
@import "./helpers/animation";
