@keyframes band-name-animation {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(-25%);
    }
}

@keyframes bg-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

// .pre-animated {
//     align-items: center;
//     text-align: center;
// }