.container{
    margin: 0 auto;

    @media (min-width:$tablet) {
        max-width: 654px;
    }

    @media (min-width:$netbooks) {
        max-width: 90%;
    }

    @media (min-width:$desktop) {
        max-width: 86.7%;
    }
    @media (min-width:1920px) {
        max-width: 80%;
    }
}